*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
.header{
    width: 1200px;
    height: 200px;
    background: #F4F4F4;
    margin: auto;
}
.logo{
    width: 250px;
    height: 170px;
    margin-left: 110px;
    background-size: cover;
    float: left;
    padding-right: 6px;
}
h1{
    font-size: 60px;
    line-height: 200px;
    color: #11264E;
}
.navigation{
    width: 1200px;
    height: 50px;
    background: #11264E;
    margin: auto;
}
ul{
    list-style: none;
    margin-left: 100px;
}
li{
    float: left;
    margin-left: 17px;
    box-sizing: content-box;
}
a{
    color: white;
    font-size: 24px;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    padding-right: 20px;
}
a:hover{
    text-decoration: underline;
}
.fonInformBlock{
    width: 1200px;
    box-sizing: border-box;
    background: #F4F4F4;
    margin: auto;
    padding-top: 36px;
}
.informBlock{
    width: 1000px;
    box-sizing: border-box;
    background: white;
    margin: auto;
    padding-top: 30px;
}
h2{
    font-size: 36px;
    margin-left: 65px;
    padding-bottom: 30px;
}
.divBlock{
    width: 916px;
    height: 210px;
    margin: auto;
}
.block1{
    width: 280px;
    height: 210px;
    background:#C4C4C4;
    float: left;
    margin-right: 38px;
}
.block2{
    width: 280px;
    height: 210px;
    background:#C4C4C4;
    float: left;
    margin-right: 38px;
}
.block3{
    width: 280px;
    height: 210px;
    background:#C4C4C4;
    float: left;
}
.textBlock{
    padding-top: 30px;
    width: 916px;
    margin: auto;
}
.textBlock p{
    text-indent: 30px;
    line-height: 24px;
    font-size: 18px;
}