*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
.forma{
    padding: 40px;
}
h1{
    color:rgb(164,109,94);
}
fieldset{
    border: 2px solid rgb(163,204,210);
    background: rgb(226,250,253);
    width: 70%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
legend{
    text-transform: uppercase;
    color:rgb(65,209,210);
    font-weight: bold;
    margin-left: 30px;
}
legend:first-letter{
    font-size: 200%;
    color: rgb(65,209,210);
    font-weight: bold;
}
input,textarea,select{
    width: 40%;
    border-radius: 4px;
    border: 1px solid black;
}
label, button{
    color:rgb(164,109,94);
}
.fieldset label{
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 20px;
}
.radio{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 20px;
}
.radio input{
    width: max-content;
    align-self: flex-start;
    margin-top: 3px;
    margin-right: 5px;
}
.radio label{
    padding: 2px 0px;
    display: flex;
    color:black
}
.radio p{
    padding-bottom: 5px;
}

button{
    padding: 8px 5px;
    margin-top: 20px;
    background: linear-gradient(0deg, rgba(210,248,249,1) 0%, rgba(173,231,232,1) 100%);    
    border-radius: 5px;
}